.ex{
    width:48%;
    background-color: cornflowerblue;
    border-style: dotted;
    border-width: 5px;
    border-color: blue;
    float: left;
    height: 650px;
}
.ex1{
    width:48%;
    background-color: lawngreen;
    border-style: dotted;
    border-width: 5px;
    border-color: blue;
    float: right;
    height: 650px;
}