.box{
    border: 6px solid skyblue;
    height: 640px;
    
}
.side1 {
	width:262px;
	background-color: red;
	float:left;
	height: 640px;
    
}
.side2 {
	width:1059px;
	background-color: black;
	float:right;
	height:640px;
}


